<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="admin/_fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>error</title>
</head>
<body>

<nav th:replace="_fragments :: menu(1)"></nav>

<h1>错误</h1>

<div>
    <div th:utext="'&lt;!--'" th:remove="tag"></div>
    <div th:utext="'Failed Request URL :'+ ${url} " th:remove="tag"></div>
    <div th:utext="'Exception message :' + ${exception.message}"></div>
    <ul th:remove="tag">
        <li th:each="st : ${exception.stackTrace}" th:remove="tag"><span th:utext="${st}" th:remove="tag"></span></li>
    </ul>
    <div th:utext="'--&gt;'" th:remove="tag"></div>
</div>


<footer th:replace="admin/_fragments :: footer">

</footer>
</body>
</html>